body{
	background-color: #000000;
	font-family: 'Lucida Grande', sans-serif;
	color: #ffffff;
}

h1{
	font-size: 64px;
	text-align: center;
}

h2{
	font-size: 30px;
	text-shadow: 5px 5px 2px #808080;
	offset-distance: 5px;
}

p:not(:first-child){
	font-size: 24px;
	padding-top: 20px;
	color: #ffffff;
}

img{
	display: block;
	margin: auto;
	width: 525px;
	padding: 10px;
}

#red{
	background-color: #ff0000;
	text-align: right;
	min-height: 150px;
	max-height: fit-content;
	padding: 25px 25px 25px 25px;
}

#blue{
	background-color: #0000ff;
	text-align: left;
	min-height: 150px;
	max-height: fit-content;
	padding: 25px 25px 25px 25px;
}

#yellow{
	background-color: #ffff00;
	text-align: right;
	min-height: 150px;
	max-height: fit-content;
	padding: 25px 25px 25px 25px;
}

#yellow h2{
	background-color: #ffff00;
	color: #000000;
	text-shadow: 5px 5px 2px #c7e7c7;
}

#yellow p{
	color: #000000;
}

#green{
	background-color: #008000;
	text-align: left;
	min-height: 150px;
	max-height: fit-content;
	padding: 25px 25px 25px 25px;
}

footer p{	
	text-align: right;
	padding-right: 10px;
	padding-bottom: 10px; 
}
